@model LMMProject.Models.Decision

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Decision</h4>
<hr />
    @if (TempData["error"] != null)
    {
        <div class="col-md-12 alert alert-danger">
            <span style="color:red"><b>Sorry!</b> - @TempData["error"]</span>
        </div>
    }
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DecisionNo" class="control-label"></label>
                    <input asp-for="DecisionNo" pattern="^[^\/\s]*$" title="Do not enter '/' characters and spaces" class="form-control" />
                <span asp-validation-for="DecisionNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DecisionName" class="control-label"></label>
                <input asp-for="DecisionName" class="form-control" />
                <span asp-validation-for="DecisionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
