@model SearchSessionModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/learning-part.css">
</head>
<body>
<div class="curri-details">
    <div class="subject">
        <div class="navbar">
            <img src="~/image/istockphoto-1138089745-170667a.jpg" class="logo">
            <ul>
                <li>
                    <a asp-controller="ADMIN" asp-action="Dashboard">Home</a>
                </li>
            </ul>
        </div>
        <div class="content">
            <b>
                <h1>Learning Path by Subject</h1>
                <p>Search</p>
            </b>
        </div>
        <style>
            /* Add this CSS */
            .center-screen {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        </style>
        
        <div class="center-screen">
            <form method="get" action="/SearchSession/Search">
                <div class="form-group">
                    <input class="form-control" name="subjectCode" placeholder="Enter Subject Code"/>
                    @if (!string.IsNullOrEmpty(Model.Message))
                    {
                        <h5 class="text-danger">@Model.Message</h5>
                    }
                </div>
                <div class="form-group">
                    <button class="btn btn-success">Search</button>
                </div>
            </form>
        </div>

    </div>
</div>

</body>
</html>